* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.gameBoard p {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: beige;
    border: 2px solid black;
    font-size: 8vw;
    font-family: "Square Peg";

    user-select: none;
}

.gameBoard p:hover {
    cursor: pointer;

    background-color: yellow;
}